<div id="articles_list">
    <div class="separator"></div>
    {% for row in rows %}
        <div class="item_title"><a href={{ SUBDIR }}{{ routing.getUrl('article', null, row) }}>{{ row.title }}</a></div>
        <div class="item_descr">Автор: {{ row.author }}<br>Дата:  {{ row.date_add }}</div>
        <div class="separator"></div>
    {% endfor %}
</div>


