{% set props = this.getPropsArray(props) %}


<div id="cat_item_view">
    <div class="image_block">
        <div class="cat_item_image_wrapper">
                <div class="cat_item_image cat_item_image_popup">
                    {% set image = this.getImageFilename(fname,file_type) %}
                    {% if image %}
                        <img src="{{SUBDIR}}{{image}}" alt="{{title}}" file_name="{{fname}}" item_id="{{id}}" image_id="{{cat_item_images_id}}" border="0" align="left" class="cat_item_image_popup">
                    {% else %}
                        Изображение отсутствует
                    {% endif %}
                </div>
            {% if props.special_offer is defined %}
                <div class="cat_item_special_offer">Хит</div>
            {% endif %}
            {% if props.novelty is defined %}
                <div class="cat_item_novelty">Новинка</div>
            {% endif %}
        </div>
        {% if images is defined %}
            <div style="width:100%;height:1px;float:left;"> </div>
            <div class="item_images">
                {% for image in images %}
                    {% set image_file = this.getImageFilename(image.fname,image.file_type, 50) %}
                    {% if image_file %}
                        <div class="image_item"><img class="cat_images" src="{{SUBDIR}}{{image_file}}" item_id="{{id}}" file_name="{{image.fname}}" image_id="{{image.id}}" border="0"></div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </div>	
    <div class="price">
        <span>
            Цена: {{ price }}<br />
        </span>
        <br />
        {% if props.not_availble is defined %}
            <b>Нет в наличии</b>
        {% else %}
            <input type="edit" class="cnt_{{ id }} form-control catalog-form-control" size="1" maxlength="2" value="1">
            <a class="buy_button btn btn-default" item_id="{{ id }}">В корзину</a>
        {% endif %}
        
    </div>
    <div class="row"> </div>
    <div class="descr">
        {{ descr }}
    </div>
</div>
    
{% if related_products %}
    <div id="related_products">
        <h4>С этим товаром обычно покупают:</h4>
        {{ related_products }}
    </div>
{% endif %}

{% if page is not defined %}
    {% set page = '' %}
{% endif %}
<div class="cat_back">
    <center><a href="{{SUBDIR}}{{routing.getUrl('cat_part', part_id)}}{{page}}" class="btn btn-default"> << Назад</a></center>
</div>
