{% if part_descr is defined %}
    <div class="col-sm-12">
        <img src="{{ SUBDIR }}{{ settings.catalog_part_img_path }}{{ image_name }}" alt="{{ title }}" align="left" style="margin-right: 10px; margin-bottom: 10px;">
        {{ part_descr }}
    </div>
{% else %}
    <p class="alert alert-info">
        Этот раздел пуст, приносим свои извинения.        
    </p>
{% endif %}


    