<form action="{{ action }}" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="MAX_FILE_SIZE" value="3000000">
    <input type="hidden" name="id" value="{{ model.id }}">
    <table width=500  class="table table-striped table-responsive table-bordered normal-form" align="center">
        <tr class=header><td colspan="2">{{ form_title }}</td></tr>
        <tr class="content" align="left"><td>{{ model.label('title') }}:</td><td><input class="form-control" type="edit" name="form[title]" value="{{ model.title }}"></td></tr>
        <tr class="content" align="left"><td>{{ model.label('num') }}:</td><td><input class="form-control" type="edit" name="form[num]" value="{{ model.num }}"></td></tr>
        <tr class="content" align="left"><td>{{ model.label('seo_alias') }}:</td><td><input class="form-control" type="edit" name="form[seo_alias]" value="{{ model.seo_alias }}"></td></tr>
	<tr class="content" align="left">
            <td>Изображение:</td>
            <td>
                <input class="form-control" name="image_file" type="file" size="40"><br />
                {{ this.showImage(model.image_name) }}
                {% if model.image_name|length>0 %}
                    <br>
                    <a class="btn btn-default" href="{{ this.base_url }}delete-image-file?part_id={{ model.id }}">Удалить</a>
                {% endif %}
            </td>
        </tr>        
        <tr class="content"><td align="left" colspan="2">
            <textarea class="form-control" id="editor" name="form[descr]" rows="5" cols="120" maxlength="64000">{{ model.descr }}</textarea>
        </td></tr>
        
	<tr class="header" align="left"><td align="center" colspan="2"><input class="btn btn-primary" type="submit" value="  Сохранить  "></td></tr>
	<tr class="header"><td colspan="2">Прочее :</td></tr>
	<tr class="content" align="left"><td>Находится в разделе:</td><td>
		<select class="form-control" name="form[prev_id]">
                    <option value="0">-</option>
                    {% for row in tree %}
                        <option value="{{ row.id }}" {% if row.id == model.prev_id %} selected {% endif %}>{{row.strokes}} {{ row.data.title }}</option>
                    {% endfor %}
		</select>
	</td></tr>

        <tr class="content" align="left"><td>{{ model.label('price_title') }}:</td><td><input class="form-control" type="edit" name="form[price_title]" value="{{ model.price_title }}"></td></tr>
        <tr class="content" align="left"><td>{{ model.label('item_image_width') }}:</td><td><input class="form-control" type="edit" name="form[item_image_width]" value="{{ model.item_image_width }}"></td></tr>
        <tr class="content" align="left"><td>{{ model.label('item_image_height') }}:</td><td><input class="form-control" type="edit" name="form[item_image_height]" value="{{ model.item_image_height }}"></td></tr>
        
        <tr class="content" align="left"><td>Сопутствующие товары:</td><td><button class="btn btn-default" part_id="[%id%]" id="related_products">Показать список</button></td></tr>

        <tr class="header"><td colspan=2>Свойства (изменять если вы ТОЧНО знаете что делаете):</td></tr>
        <tr class="content"><td align="left" colspan="2">
            <textarea class="form-control" id="editor_html" name="form[items_props]" rows="15" cols="120" maxlength="64000">{{ model.items_props }}</textarea>
        </td></tr>
        
        <tr class="header" align="left"><td align="center" colspan="2">                
            <input class="btn btn-primary" type="submit" name="update" value="{% if action == 'create' %}Добавить{% else %}Обновить{% endif %}"> 
        </td></tr>
    </table>
</form>
<br>
<center>
    <a href="{{ this.base_url }}" class="btn btn-default"><< Назад</a>
</center>

<style>
.modal-wide .modal-body {
    overflow-x: auto;
    overflow-y: scroll;
    max-height: 600px;
}    
.related_products_input {
    float: right;
}
</style>

<script language="javascript">
$(document).ready(function () {
    $('body').on('click', '#related_products', function () {
        $.ajax({
            type: "GET", url:  "{{ this.base_url }}get-related-products-list", dataType: "json", data: "part_id={{ model.id }}",
            success: function (msg) {
                if (msg.result !== 'OK') {
                    console.log(msg.result);
                } else {
                    $('#popupHeader').html('<h4>Сопутствующие товары</h4>');
                    $('#popupContent').html(msg.content);
                    // $('.modal').removeClass('modal-fs');
                    // $('.modal').addClass('modal-fs');
                    $('#myModal').modal();
                }
            }
        });
        return false;
    });
    $('body').on('change', ".related_products_input", function(){
        var item_id=$(this).attr("item_id");
        var value=$(this).prop("checked");
        if (!value) {
            value = "";
        }
        var data = "part_id={{ model.id }}&item_id="+item_id + "&value=" +value;
        // console.log(data);

        $.ajax({
           type: "GET", url: "{{ this.base_url }}change-related-product", data: data,
           success: function(msg){
            if(msg !== "OK") {
                console.log(msg);
            }
           }
        });
    });
});
    

</script>

