<form action="{{ this.base_url }}{{ action }}" method="POST">
    <input type="hidden" name="id" value="{{ id }}">
    <table width=500  class="table table-striped table-responsive table-bordered normal-form" align="center">
        <tr class=header><td colspan="2">{{ form_title }}</td></tr>
        <tr class="content" align="left"><td>Название:</td><td><input class="form-control" type="edit" maxlength="255" size="64" name="form[name]" value="{{ name }}"></td></tr>
        <tr class="content" align="left"><td>Описание:</td><td><input class="form-control" type="edit" maxlength="255" size="64" name="form[comment]" value="{{ comment }}"></td></tr>
        <tr class="content" align="left"><td>URI:</td><td><input class="form-control" type="edit" maxlength="255" size="64" name="form[uri]" value="{{ uri }}"></td></tr>
        <tr class="content" align="left"><td>Название файла:</td><td><input class="form-control" type="edit" maxlength="255" size="64" name="form[file_name]" value="{{ file_name }}"></td></tr>
        <tr class="content" align="left"><td>Тип:</td><td>
                <select class="form-control" name="form[template_type]">
                    <option value="my" {% if template_type is same as ('my') %}selected{% endif %}>My</option>
                    <option value="twig" {% if template_type is same as ('twig') %}selected{% endif %}>Twig</option>
                </select>
            </td></tr>
        <tr class="content"><td align="left" colspan="2">
                <textarea class="form-control" id="editor_html" name=form[content] rows=25 cols=120 maxlength=64000>{{ content }}</textarea>
            </td></tr>
        <tr class=header align="left"><td align="center" colspan="2">
                <input class="btn btn-primary" type="submit" name="update" value="  Сохранить  "> 
                <input class="btn btn-primary" type="submit" name="update_and_exit" value="  Сохранить и выйти ">
                <input class="btn btn-primary" type="submit" name="revert" value="  Вернуть исходный  "> 
            </td></tr>
    </table>
</form>
<br>
<center>
    <a href="{{ this.base_url }}" class="btn btn-default"><< Назад</a>
</center>

