<!DOCTYPE html>
<html lang="RU_ru">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="">
        <meta name="description" content="">
        <title>[{{ settings.site_title }} > Адм. раздел >{% if INCLUDE_HEAD is defined %} {{ Header }} {% endif %}</title>
        <!-- Bootstrap core CSS -->
        <link href="{{ SUBDIR }}admin/bootstrap.min.css" rel="stylesheet" />
        <link href="{{ SUBDIR }}admin/admin.css" rel="stylesheet" />
        <link rel="icon" type="image/png" href="{{ SUBDIR }}favicon.png" />
        <script type="text/javascript" src="{{ SUBDIR }}include/js/jquery.min.js"></script>        
	{% if INCLUDE_HEAD is defined %}
            {{ INCLUDE_HEAD }}
        {% endif %}

    </head>
    <body>
        <div class="modal fade modal-wide" id="myModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header"><button class="close" type="button" data-dismiss="modal">x</button>
                        <h4 class="modal-title" id="popupHeader"></h4>
                    </div>
                    <div class="modal-body">
                        <div id="popupContent"></div>                        
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="width: 100%;">
            <div class="col-xs-2">
                {{ get_block('menu_admin') }}
                <br />
                <br />
            </div>
            <div class="col-xs-9">
                <center><h1>{{ Header }}</h1></center>
                {% if flash is defined and errors is defined %}                    
                    {% include 'flash_errors.html.twig' with { 'flash': flash, 'errors': errors } %}
                {% endif %}
                <center>
                {{ inner_content }}
                <br />
                </center>
            </div>
        </div>
        <script src="{{ SUBDIR }}include/js/bootstrap.min.js"></script>
        <script src="{{ SUBDIR }}include/js/misc.js"></script>
        
        {% if INCLUDE_JS is defined %}
            {{ INCLUDE_JS }}
        {% endif %}
        
        {{ get_block('debug') }}

</body>
</html>
