<form action="{{ action }}" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="MAX_FILE_SIZE" value="3000000">
    <input type="hidden" name="id" value="{{ model.id }}">
    <table width=500  class="table table-striped table-responsive table-bordered normal-form" align="center">
        <tr class=header><td colspan="2">{{ form_title }}</td></tr>
        <tr class="content" align="left"><td>{{ model.label('position') }}:</td><td><input class="form-control" type="edit" maxlength="255" size="64" name="form[position]" value="{{ model.position }}"></td></tr>
        <tr class="content" align="left"><td>{{ model.label('title') }}:</td><td><input class="form-control" type="edit" maxlength="255" size="64" name="form[title]" value="{{ model.title }}"></td></tr>
        <tr class="content" align="left"><td>{{ model.label('css_class') }}:</td><td><input class="form-control" type="edit" maxlength="255" size="64" name="form[css_class]" value="{{ model.css_class }}"></td></tr>
        
        <tr class="content" align="left"><td>Ссылается на:</td><td>
            <select name="form[target_type]" id="target_type" class="form-control">
                <option {% if model.target_type == '' %}selected{% endif %} value="">-</option>
                {% for row in target_types %}
                    <option {% if model.target_type == row.type %}selected{% endif %} value="{{ row.type }}">{{ row.name }}</option>
                {% endfor %}
            </select>
        </td></tr>
        <tr class="content" align="left" id="target_select"></tr>
        
        <tr class="content" align="left"><td>Подменю:</td><td>
            <select name="form[submenu_id]" id="submenu_id" class="form-control">
                <option {% if model.submenu_id == '' %}selected{% endif %} value="0">-</option>
                {% for row in menu_list %}
                    <option {% if model.submenu_id == row.id %}selected{% endif %} value="{{ row.id }}">{{ row.title }}</option>
                {% endfor %}
            </select>
        </td></tr>
        
        <tr class="content" align="left"><td>Флаг пользователя:</td><td>
            <select name="form[flag]" id="submenu_id" class="form-control">
                <option {% if model.flag == '' %}selected{% endif %} value="">-</option>
                {% for row in user_flags %}
                    <option {% if model.flag == row.value %}selected{% endif %} value="{{ row.value }}">{{ row.title }}</option>
                {% endfor %}
            </select>
        </td></tr>

        <tr class="content" align="left">
            <td>Изображение:</td>
            <td>
                <input class="form-control" name="image_file" type="file" size="40"><br />
                {{ this.showImage(model.image_name) }}
                {% if model.image_name|length>0 %}
                    <br>
                    <a class="btn btn-default" href="{{ this.base_url }}delete-image-file?item_id={{ model.id }}">Удалить</a>
                {% endif %}
            </td>
        </tr>
        <tr class=header align="left"><td align="center" colspan="2">                
            <input class="btn btn-primary" type="submit" name="update" value="{% if action == 'create' %}Добавить{% else %}Обновить{% endif %}"> 
        </td></tr>
    </table>
</form>
<br>
<center>
    <a href="{{ this.base_url }}" class="btn btn-default"><< Назад</a>
</center>

<style>
    .btn_del_tag {
        display: inline-block;float: right;padding: 1px 6px;
    }
</style>

<script type="text/javascript">    

function get_target_select () {
    var target_type = "";
    $("#target_type option:selected").each(function () {
        target_type = $(this).attr("value");
    });
    $('#target_select').load("{{ this.base_url }}get-target-select?item_id={{ model.id }}&target_type="+target_type);
}

$(document).ready(function(){
    get_target_select ();
    
    $('#target_type').change(function(){
        get_target_select ();
    });
    
});

</script>