<form action="{{ action }}" method="POST">
<input type="hidden" name=MAX_FILE_SIZE value=16000000>		
<input type="hidden" name="id" value="{{ id }}">
<table width=500  class="table table-striped table-responsive table-bordered normal-form" align="center">
	<tr class=header><td colspan="2">{{ form_title }}</td></tr>
	<tr class="content" align="left"><td>Название:</td><td><input class="form-control" type="edit" name="form[title]" value="{{ title }}"></td></tr>
	<tr class="content" align="left"><td>URI:</td><td><input class="form-control" type="edit" name="form[uri]" value="{{ uri }}"></td></tr>
	<tr class="content" align="left"><td>Шаблон:</td><td><input class="form-control" type="edit" name="form[tpl_name]" value="{{ tpl_name }}"></td></tr>
        <tr class="content" align="left"><td>Флаг доступа:</td><td>
            <select class="form-control" name="form[user_flag]">
                {% for flag in flags %}
                    <option value="{{ flag.value }}" {% if flag.value == user_flag %}selected{% endif %}>{{ flag.title }}</option>
                {% endfor %}
            </select>
        </td></tr>

	<tr class="header" align="left"><td align="center" colspan="2"><input class="btn btn-primary" type="submit" value="  Сохранить  "></td></tr>
</table>
</form>
<br>
<center>
    <a href="{{ this.base_url }}" class="btn btn-default"><< Назад</a>
</center>

