<div id="faq"> 
    <form action={{ SUBDIR }}faq/add method="POST">
        <input type="hidden" name="added" value="1">
        <input type="hidden" name="send_img_code" value="1">
        <input type="hidden" name="CSRF_Token" value="{{ get_csrf_token() }}">
        <div class="faq_form">Сообщение :</div>
        <div>{{ editor }}</div>
        <div class="faq_form">Автор: </div><div class="faq_form">
            <input type="edit" maxlength=64 class="form-control" name="form[author]" value="{{ author }}" required>
        </div>
        <div class="faq_form">E-Mail: </div><div class=faq_form>
            <input type="edit" maxlength=128 class="form-control" name="form[email]" value="{{ email }}" required>
        </div>
        <div class="faq_form"><img src=../include/image_code.php border=0 alt="Код подтверждения"></div>
        <div class="faq_form"><input type="edit" class="form-control" name="form[img_code]" maxlength=6 value="" required></div>
        <div class="faq_form"><input type="submit" class="btn btn-primary" value="Отправить"></div>
    </form>
</div>
    
<center><a href={{ SUBDIR }}faq/ class="btn btn-default"> << Назад</a></center>